.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 50px;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #1e293b;
}
.buttons-container {
  display: flex;
  list-style: none;
  padding-left: 0px;
}
.image-style {
  margin-top: 20px;
  width: 250px;
}
